<%- include('../partials/header')%>

<h2>Request for: <b><%= request.category %></b></h2>

<div class="row">
    <div class="col-1 user-details"><img src="<%= request.userAvatar %>"></div>
    <div class="col-3 user-details"><%= request.userName %> asks:</div>
</div>
<div class="row">
    <div class="col-4 user-details"><%= request.title %></div>
</div>

<br>
<% if (response.length){ %>

<div class="d-flex flex-wrap">

<% response.forEach(function(r) { %>
    
    <div class="individual-response">
        <a href="/requests/<%= request._id %>/<%= r._id %>" class="post-link">
            <div class="response-picture">
                <img class="response-pic" src="<%= r.content %>">
            </div>
        <div class="post-details"><div class="user-says"><%= r.userName %> says:</div><div class="response-caption">
            <% if(r.caption.length < 35) { %>
            <%= r.caption %>
            <% } else {%>
            <%= r.caption.substring(0, 35)+"..." %>
            <% } %>
        </div></div>
        </a>
    </div>
<% }) %>
</div>

<% } else { %>

<h4>no responses yet.</h4>
<% } %>
<br>
<% if (user){ %>
    <a href="<%= request._id %>/responses/new" class="btn btn-outline-warning">post a pic!</a>
    <% }else{ %>
    <a class="btn btn-outline-danger" href="/auth/google">you must be logged in to post!</a>
    <% } %>

<%- include('../partials/footer')%>

