<%- include('../partials/header')%>

<%= request.title %>
<br>
<% if (response.length){ %>

<% response.forEach(function(r) { %>
    <a href="/requests/<%= request._id %>/<%= r._id %>"><%= r.content %><br>
    <%= r.caption %><br></a>

<% })} else { %>

<h4>no responses yet.</h4>
<% } %>
<br>
<% if (user){ %>
    <a href="<%= request._id %>/responses/new" class="btn btn-outline-warning">post a pic!</a>
    <% }else{ %>
    <a class="btn btn-outline-danger" href="/auth/google">you must be logged in to post!</a>
      <% } %>


<%- include('../partials/footer')%>

