<%- include('../partials/header')%>
<% if (user){ %>
<h2><%= request.userName %> is asking for: <b><%= request.category %></b></h2>
<form action="/requests/<%= requestId %>/responses" method="POST">
    <label>Enter the imgur URL
      <input type="url" name="content">
    </label><br>
    <label>Enter a quick caption for your photo:<br>
        <textarea name="caption" rows="3" cols="40"></textarea>
    </label><br>
    <input type="submit" value="add a pic!">
  </form>
<% } %>
<%- include('../partials/footer')%>